
  <p>
     Autor de la mejor página de preguntas de la historia de páginas de preguntas:
  </p>

  <p>
     <strong>Andrés Redondo Rodríguez</strong>
  </p>

  <img src="images/primerafoto.jpg" width="200" height="100"/>