
<p>
<form method="get" action="/quizzes">
<p>
<p>
Buscar preguntas:
</p>
<p>
<input type="text" name="search" value="" placeholder="Búsqueda" />
<input type="submit" value="Buscar">
</p>
</form>
</p>


<table>
<% for (var i in quizzes) { %>
<tr>
<td>
<a href="/quizzes/<%= quizzes[i].id %>"><%= quizzes[i].question %></a>
</td>
</tr>
<% } %>
</table>