<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Quiz</title>
		<link rel='stylesheet' href='/stylesheets/style.css'/>
	</head>
	<body>
		<h2>Quiz: el juego que lo está petando entre la chavalada más fresca</h2>
		<p>
			La respuesta es <%= result %>.
		</p>
		<p>
			<a href="question"> Inténtalo otra vez </a>
		</p>
	</body>
</html>